<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="arctos_urdf_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control type="system">
	    <hardware>
	      <plugin>arctos_interface/ArctosInterface</plugin>
	    </hardware>
	    <joint name="joint1">
	      <command_interface name="position"/>
	      <state_interface name="position">
		<param name="initial_value">0.0</param>
	      </state_interface>
	      <state_interface name="velocity">
		<param name="initial_value">0.0</param>
	      </state_interface>
	    </joint>
	    <joint name="joint2">
	      <command_interface name="position"/>
	      <state_interface name="position">
		<param name="initial_value">0.0</param>
	      </state_interface>
	      <state_interface name="velocity">
		<param name="initial_value">0.0</param>
	      </state_interface>
	    </joint>
	    <joint name="joint3">
	      <command_interface name="position"/>
	      <state_interface name="position">
		<param name="initial_value">0.0</param>
	      </state_interface>
	      <state_interface name="velocity">
		<param name="initial_value">0.0</param>
	      </state_interface>
	    </joint>
	    <joint name="joint4">
	      <command_interface name="position"/>
	      <state_interface name="position">
		<param name="initial_value">0.0</param>
	      </state_interface>
	      <state_interface name="velocity">
		<param name="initial_value">0.0</param>
	      </state_interface>
	    </joint>
	    <joint name="joint5">
	      <command_interface name="position"/>
	      <state_interface name="position">
		<param name="initial_value">0.0</param>
	      </state_interface>
	      <state_interface name="velocity">
		<param name="initial_value">0.0</param>
	      </state_interface>
	    </joint>
	    <joint name="joint6">
	      <command_interface name="position"/>
	      <state_interface name="position">
		<param name="initial_value">0.0</param>
	      </state_interface>
	      <state_interface name="velocity">
		<param name="initial_value">0.0</param>
	      </state_interface>
	    </joint>
	</ros2_control>
    </xacro:macro>
</robot>
