# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    arctos_controller:
      type: arctos_controller/ArctosController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

arctos_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6
    command_interfaces:
      - position
      - velocity
    state_interfaces:
      - position
      - velocity